/**
 * Variables
 *
 * Theme specific variables
 *
 */



/* Layout
   ================================================================================================================== */

$layout-max-width:    1000px;
$node-breakpoint:     55em; //@todo px

/* Colors
   ================================================================================================================== */
$white:            #fff;
$black:            #000;

$white-off:        lighten($black, 95%);
$gray-lightest:    lighten($black, 90%);
$gray-lighter:     lighten($black, 85%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 30%);

$light-blue:       #deeced; // Block bg color.
$dark-blue:        #17858c; // Block bg color.
$daycare:          #49C5B1; // Daycare color.
$school:           #FAE100; // School color.
$youth:            #1B365D; // Youth color.
$course:           #71C5E8; // Course color.


$header-color:     #1B365D;
$footer-color:     #808080;
$block-dark:       #808080;
$block-light:      #CCCCCC;

/* Typography
   ================================================================================================================== */

$font:             14px/1.3 "Roboto", sans-serif;

/* Link colors
   ================================================================================================================== */

$link-color:       #1B365D;
$link-color-hover: darken(#1B365D, 10%);
$button-color: $link-color;

/* Spacing
   ================================================================================================================== */

$spacing:          16px;

/* Border radius
   ================================================================================================================== */

$border-radius:    5px;

/* Boxlist
   ================================================================================================================== */

$boxlist-font-color:    #000;
$boxlist-border-color:  $gray-light;
$boxlist-padding:       1em;
